In [1]:
import pandas as pd

# Load dataset
df = pd.read_csv('new_retail_data.csv')

# Display first few rows
print(df.head(4))

   Transaction_ID  Customer_ID                 Name              Email  \
0       8691788.0      37249.0  Michelle Harrington  Ebony39@gmail.com
1       2174773.0      69749.0          Kelsey Hill   Mark36@gmail.com
2       6679610.0      30192.0         Scott Jensen  Shane85@gmail.com
3       7232460.0      62101.0        Joseph Miller   Mary34@gmail.com

          Phone                      Address        City            State  \
0  1.414787e+09            3959 Amanda Burgs    Dortmund           Berlin
1  6.852900e+09           82072 Dawn Centers  Nottingham          England
2  8.362160e+09            4133 Young Canyon     Geelong  New South Wales
3  2.776752e+09  8148 Thomas Creek Suite 100    Edmonton          Ontario

   Zipcode    Country  ...  Total_Amount Product_Category  Product_Brand  \
0  77985.0    Germany  ...    324.086270         Clothing           Nike
1  99071.0         UK  ...    806.707815      Electronics        Samsung
2  75929.0  Australia  ...   1063.432799            Books  Penguin Books
3  88420.0     Canada  ...   2466.854021       Home Decor     Home Depot

  Product_Type   Feedback  Shipping_Method Payment_Method Order_Status  \
0       Shorts  Excellent         Same-Day     Debit Card      Shipped
1       Tablet  Excellent         Standard    Credit Card   Processing
2   Children's    Average         Same-Day    Credit Card   Processing
3        Tools  Excellent         Standard         PayPal   Processing

   Ratings          products
0      5.0    Cycling shorts
1      4.0        Lenovo Tab
2      2.0  Sports equipment
3      4.0     Utility knife

[4 rows x 30 columns]

In [2]:
# Remove duplicate rows
df = df.drop_duplicates()

# Check for any remaining duplicates
print(df.duplicated().sum())

0

In [3]:
# Check for missing values
print(df.isnull().sum())

# Handle missing values (example: fill with median for numerical columns)
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Email'].fillna('No Email', inplace=True)

# Alternatively, you can drop rows with missing values
# df = df.dropna()

Transaction_ID      333
Customer_ID         308
Name                382
Email               347
Phone               362
Address             315
City                248
State               281
Zipcode             340
Country             271
Age                 173
Gender              317
Income              290
Customer_Segment    215
Date                359
Year                350
Month               273
Time                350
Total_Purchases     361
Amount              356
Total_Amount        350
Product_Category    283
Product_Brand       281
Product_Type          0
Feedback            184
Shipping_Method     337
Payment_Method      297
Order_Status        235
Ratings             184
products              0
dtype: int64

C:\Users\USER\AppData\Local\Temp\ipykernel_3976\1342023540.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_3976\1342023540.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Email'].fillna('No Email', inplace=True)

In [4]:
# Convert 'Date' and 'Time' columns to datetime format
df['Date'] = pd.to_datetime(df['Date'])
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S').dt.time

# Ensure numerical columns are in the correct format
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df['Amount'] = pd.to_numeric(df['Amount'], errors='coerce')
df['Total_Amount'] = pd.to_numeric(df['Total_Amount'], errors='coerce')

# Check the data types
print(df.dtypes)

Transaction_ID             float64
Customer_ID                float64
Name                        object
Email                       object
Phone                      float64
Address                     object
City                        object
State                       object
Zipcode                    float64
Country                     object
Age                        float64
Gender                      object
Income                      object
Customer_Segment            object
Date                datetime64[ns]
Year                       float64
Month                       object
Time                        object
Total_Purchases            float64
Amount                     float64
Total_Amount               float64
Product_Category            object
Product_Brand               object
Product_Type                object
Feedback                    object
Shipping_Method             object
Payment_Method              object
Order_Status                object
Ratings                    float64
products                    object
dtype: object

In [5]:
# Standardize text data: for example, trim spaces and make them lowercase
df['Name'] = df['Name'].str.strip().str.lower()
df['Email'] = df['Email'].str.strip().str.lower()
df['Address'] = df['Address'].str.strip().str.lower()

# Remove any leading or trailing spaces in categorical columns
categorical_cols = ['City', 'State', 'Country', 'Gender', 'Income', 'Customer_Segment', 'Product_Brand', 'Product_Type', 'Feedback', 'Shipping_Method', 'Payment_Method', 'Order_Status']
for col in categorical_cols:
    df[col] = df[col].str.strip().str.lower()

In [6]:
# Drop one of the 'Total_Amount' columns as they seem to be duplicated
df = df.loc[:, ~df.columns.duplicated()]

# Check the columns to confirm
print(df.columns)

Index(['Transaction_ID', 'Customer_ID', 'Name', 'Email', 'Phone', 'Address',
       'City', 'State', 'Zipcode', 'Country', 'Age', 'Gender', 'Income',
       'Customer_Segment', 'Date', 'Year', 'Month', 'Time', 'Total_Purchases',
       'Amount', 'Total_Amount', 'Product_Category', 'Product_Brand',
       'Product_Type', 'Feedback', 'Shipping_Method', 'Payment_Method',
       'Order_Status', 'Ratings', 'products'],
      dtype='object')

In [7]:
# For example, extract the hour from the 'Time' column
df['Hour'] = df['Time'].apply(lambda x: x.hour)

# Create any other necessary columns as needed

In [8]:
print(df.head(4))

   Transaction_ID  Customer_ID                 Name              Email  \
0       8691788.0      37249.0  michelle harrington  ebony39@gmail.com
1       2174773.0      69749.0          kelsey hill   mark36@gmail.com
2       6679610.0      30192.0         scott jensen  shane85@gmail.com
3       7232460.0      62101.0        joseph miller   mary34@gmail.com

          Phone                      Address        City            State  \
0  1.414787e+09            3959 amanda burgs    dortmund           berlin
1  6.852900e+09           82072 dawn centers  nottingham          england
2  8.362160e+09            4133 young canyon     geelong  new south wales
3  2.776752e+09  8148 thomas creek suite 100    edmonton          ontario

   Zipcode    Country  ...  Product_Category  Product_Brand Product_Type  \
0  77985.0    germany  ...          Clothing           nike       shorts
1  99071.0         uk  ...       Electronics        samsung       tablet
2  75929.0  australia  ...             Books  penguin books   children's
3  88420.0     canada  ...        Home Decor     home depot        tools

    Feedback Shipping_Method  Payment_Method Order_Status Ratings  \
0  excellent        same-day      debit card      shipped     5.0
1  excellent        standard     credit card   processing     4.0
2    average        same-day     credit card   processing     2.0
3  excellent        standard          paypal   processing     4.0

           products  Hour
0    Cycling shorts  22.0
1        Lenovo Tab   8.0
2  Sports equipment   4.0
3     Utility knife  14.0

[4 rows x 31 columns]

In [12]:
df['Product_ID'] =df['Product_Type'] + '_' + df['Product_Brand']
user_item_matrix = df.pivot_table(index='Customer_ID', columns='Product_ID', values='Total_Purchases', fill_value=0)
print(df.head(4))

   Transaction_ID  Customer_ID                 Name              Email  \
0       8691788.0      37249.0  michelle harrington  ebony39@gmail.com
1       2174773.0      69749.0          kelsey hill   mark36@gmail.com
2       6679610.0      30192.0         scott jensen  shane85@gmail.com
3       7232460.0      62101.0        joseph miller   mary34@gmail.com

          Phone                      Address        City            State  \
0  1.414787e+09            3959 amanda burgs    dortmund           berlin
1  6.852900e+09           82072 dawn centers  nottingham          england
2  8.362160e+09            4133 young canyon     geelong  new south wales
3  2.776752e+09  8148 thomas creek suite 100    edmonton          ontario

   Zipcode    Country  ...  Product_Brand Product_Type   Feedback  \
0  77985.0    germany  ...           nike       shorts  excellent
1  99071.0         uk  ...        samsung       tablet  excellent
2  75929.0  australia  ...  penguin books   children's    average
3  88420.0     canada  ...     home depot        tools  excellent

  Shipping_Method Payment_Method  Order_Status Ratings          products  \
0        same-day     debit card       shipped     5.0    Cycling shorts
1        standard    credit card    processing     4.0        Lenovo Tab
2        same-day    credit card    processing     2.0  Sports equipment
3        standard         paypal    processing     4.0     Utility knife

   Hour                Product_ID
0  22.0               shorts_nike
1   8.0            tablet_samsung
2   4.0  children's_penguin books
3  14.0          tools_home depot

[4 rows x 32 columns]